//Событие по правому клику

.context-menu {
  position: fixed;
  background: white;
  z-index: 999;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

/*.container__right-click-ivent {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(92, 92, 92, 0.15);
  width: 155px;
  height: 229px;
  background-image: src('./assets/img/background-right-click.svg');
  padding: 19px 9px;
}
.right-click-ivent__img {
  z-index: 10;
}

.right-click-ivent__item {
  z-index: 11;
  margin-bottom: 14px;
  font-family: subGeneralFont;
  font-size: 14px;
  line-height: 125.5%;
  color: #000000;
}

.red {
  color: #ff5656;
}

.green {
  color: #78e1db;
}
*/