.teeth-map {
  display: flex;
  flex-direction: column;
}

.teeth-map-header {
  font-family: subGeneralFont;
  font-size: 24px;
  line-height: 150%;
  color: #5c5c5c;
  margin-bottom: 45px;
}

//Карта зубов

.teeth-map__wrapper {
  display: flex;
  flex-direction: column;
}

.teeth-map__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1122px;
  margin-bottom: 100px;
}


//Чекбоксы над зубами

.checkbox-top {
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: center;
}

.checkbox-item-container {
  display: flex;
  flex-direction: column;
  width: 71px;
  align-items: center;
  position: relative;
}


//Первая колонка (Чекбоксы)

.teeth-map__first-column {
  display: flex;
  //padding: 0 50px;
  //justify-content: space-between;
  z-index: 11;
  position: absolute;
  top: -50%;
}

.first-column__item, {
  width: 30px;
  height: 30px;
  background-color: #eff3f5;
  //border-radius: 4px;
  //border: 2px solid #c8c8c8;
}

input {
  width: 30px;
  height: 30px;
  background-сolor: #eff3f5 !important;
  border-radius: 4px;
  border: 2px solid #c8c8c8 !important;
  &:focus {
    border: 2px solid #8c77de !important;
  }
}

//Вторая колонка (Стрелки зубов)
.teeth-map__second-column {
  //position: absolute;
  display: flex;
  //padding: 15px 30px 0 30px;
  //justify-content: space-between;
  z-index: 10;
  position: absolute;
}

.second-column__item {
  display: flex;
  height: 35px;
  width: 71px;
  background-color: transparent;
  //border-top: 1px solid #c8c8c8;
  //border-left: 1px solid #c8c8c8;
  //border-right: 1px solid #c8c8c8;
}

.item-left {
  width: inherit;
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
}

.item-right {
  width: inherit;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}

.selectedTeeth-left {
  width: inherit;
  border-top: 3px solid #8C77DE;
  border-left: 3px solid #8C77DE;
}

.selectedTeeth-right {
  width: inherit;
  border-top: 3px solid #8C77DE;
  border-right: 3px solid #8C77DE;
}

.checkedTeeth-right {
  width: inherit;
  border-top: 3px solid #8C77DE;
  border-right: 3px solid #8C77DE;
}

.checkedTeeth-left {
  width: inherit;
  border-top: 3px solid #8C77DE;
  border-left: 3px solid #8C77DE;
}

.selectedTeeth {
  width: inherit;
  border-top: 3px solid #8C77DE;
}

.left-border {
  width: inherit;
  border-left: 3px solid #8C77DE;
}

.right-border {
  width: inherit;
  border-right: 3px solid #8C77DE;

}

//Третья колонка (Сами зубы)
.teeth-map__third-column {
  display: flex;
  //padding: 20px 0 0 0;
  justify-content: space-between;
}

.third-column__item {
  display: flex;
  font-family: generalFont;
  font-size: 18px;
  line-height: 125.5%;
  color: #000000;
  background-color: #eff3f5;
  border-radius: 22px;
  width: 57px;
  height: 63px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  &:focus {
    border: 2px solid #8c77de;
    transition: all 0.1s;
  }
}

.is-missing {
  display: flex;
  font-family: generalFont;
  font-size: 18px;
  line-height: 125.5%;
  color: #ffff;
  background-color: #ff5656;
  border-radius: 22px;
  width: 57px;
  height: 63px;
  align-items: center;
  justify-content: center;
}

.is-healthy {
  display: flex;
  font-family: generalFont;
  font-size: 18px;
  line-height: 125.5%;
  color: #ffff;
  background-color: #78e1db;
  border-radius: 22px;
  width: 57px;
  height: 63px;
  align-items: center;
  justify-content: center;
}

.is-copy {
  border: 5px dashed #fff !important;
}

//Переворот схемы
.rotate-180 {
  transform: rotate(180deg);
}

//Контекстное меню
.contextmenu-item {
  padding: 10px;
  display: flex;
  gap: 5px;
  font-family: subGeneralFont;
  font-size: 18px;
  line-height: 125.5%;
  color: #000000;
}

.v-contextmenu-item--hover {
  background-color: #eff3f5;
}

.red {
  color: #ff5656;
}

.green {
  color: #78e1db;
}

.contextmenu-img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

.contextmenu-text {
  padding: 5px 0 5px 5px;
}

//Роутер

.teeth-map__tooth-link {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.third-column__item:hover {
  color: #ffff;
  background-color: #8c77de;
  cursor: pointer;
  transition: all 0.1s;
}

.active {
  color: #ffff;
  background-color: #8c77de;
  cursor: pointer;
}

.p-checkbox-box {
  width: 30px !important;
  padding: 0 !important;
  height: 30px !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #8C77DE !important;
  background: #8C77DE !important;

  &:hover {
    border-color: #8C77DE !important;
    background: #8C77DE !important;
    color: #ffffff;
  }
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
   border-color: #8C77DE !important;
}

.p-checkbox-focused {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 10rem 0.1rem #8C77DE!important;
}

.p-checkbox-box.p-highlight.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 10rem 0.1rem #8C77DE!important;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 10rem 0.1rem #8C77DE!important;
  border-color: #8C77DE!important;
}

