.teeth-map {
  display: flex;
  flex-direction: column;
}

.teeth-map-header {
  font-family: subGeneralFont;
  font-size: 24px;
  line-height: 150%;
  color: #5c5c5c;
  margin-bottom: 45px;
}

//Карта зубов

.teeth-map__wrapper {
  display: flex;
  flex-direction: column;
}

.teeth-map__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1122px;
  margin-bottom: 100px;
}

//Первая колонка (Чекбоксы)

.teeth-map__first-column {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  z-index: 11;
}

.first-column__item {
  width: 30px;
  height: 30px;
  background-color: #eff3f5;
  border-radius: 4px;
  border: 2px solid #c8c8c8;
}

//Вторая колонка (Стрелки зубов)
.teeth-map__second-column {
  position: absolute;
  display: flex;
  padding: 15px 30px 0 30px;
  justify-content: space-between;
  z-index: 10;
}

.second-column__item {
  height: 35px;
  width: 71px;
  background-color: #eff3f5;
  background-color: transparent;
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}

.selectedTeeth-left {
  height: 35px;
  width: 71px;
  background-color: #eff3f5;
  background-color: transparent;
  border-top: 3px solid #8C77DE;
  border-left: 3px solid #8C77DE;
  border-right: 2px solid #8C77DE;
}

.selectedTeeth-right {
  height: 35px;
  width: 71px;
  background-color: #eff3f5;
  background-color: transparent;
  border-top: 3px solid #8C77DE;
  border-left: 2px solid #8C77DE;
  border-right: 3px solid #8C77DE;
}

.selectedTeeth {
  height: 35px;
  width: 71px;
  background-color: #eff3f5;
  background-color: transparent;
  border-top: 3px solid #8C77DE;
  border-left: 2px solid #8C77DE;
  border-right: 2px solid #8C77DE;
}

//Третья колонка (Сами зубы)
.teeth-map__third-column {
  display: flex;
  padding: 20px 0 0 0;
  justify-content: space-between;
}

.third-column__item {
  display: flex;
  font-family: generalFont;
  font-size: 18px;
  line-height: 125.5%;
  color: #000000;
  background-color: #eff3f5;
  border-radius: 22px;
  width: 57px;
  height: 63px;
  align-items: center;
  justify-content: center;
}

.third-column__item-red {
  display: flex;
  font-family: generalFont;
  font-size: 18px;
  line-height: 125.5%;
  color: #ffff;
  background-color: #ff5656;
  border-radius: 22px;
  width: 57px;
  height: 63px;
  align-items: center;
  justify-content: center;
}

.third-column__item-green {
  display: flex;
  font-family: generalFont;
  font-size: 18px;
  line-height: 125.5%;
  color: #ffff;
  background-color: #78e1db;
  border-radius: 22px;
  width: 57px;
  height: 63px;
  align-items: center;
  justify-content: center;
}

//Переворот схемы
.rotate-180 {
  transform: rotate(180deg);
}

//Контекстное меню
.contextmenu-item {
  padding: 10px;
  display: flex;
  gap: 5px;
  font-family: subGeneralFont;
  font-size: 18px;
  line-height: 125.5%;
  color: #000000;
}

.v-contextmenu-item--hover {
  background-color: #eff3f5;
}

.red {
  color: #ff5656;
}

.green {
  color: #78e1db;
}

.contextmenu-img {
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

.contextmenu-text {
  padding: 5px;
}

//Роутер

.teeth-map__tooth-link {
  display: flex;
  gap: 14px;
  justify-content: space-between;
}