@font-face {
  font-family: generalFont;
  src: url('@/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: subGeneralFont;
  src: url('@/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: generalFontBold;
  src: url('@/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: generalFontLight;
  src: url('@/fonts/Ubuntu-Light.ttf') format('truetype');
}