@font-face {
  font-family: generalFont;
  src: url('@/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: subGeneralFont;
  src: url('@/fonts/Ubuntu-Medium.ttf') format('truetype');
}
