.wrapper__flag {
  font-family: subGeneralFont;
  font-size: 18px;
  line-height: 150%;
  color: #5c5c5c;
  display: flex;
  align-items: center;
  margin-right: 71px;
}

.flag__img {
  margin-left: 10px;
}

