.container-data {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5% auto;
}

.main-table-row {
  border-bottom: 2px solid #C8C8C8;
}

.main-table-row:last-child {
  border: none;
}


//Форма

.final-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-family: generalFont;
  width: 40%;
}

@media only screen and (max-width: 1280px) {
  .final-form {
    width: 100%;
  }
}

//Выключенная кнопка
.disabled {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  font-family: subGeneralFont;
  font-size: 18px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #C8C8C8;
  color: #C8C8C8;
  &:hover {
    border: 2px solid #8C77DE;
    color: #fff;
  }
}

input {
  height: 60px;
}

.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-inputtext {
  padding: 18px;
}

.p-checkbox {
  width: 30px !important;
  padding: 0 !important;
  height: 30px !important;
}

.p-inputtext {
  width: unset;
  height: 60px !important;
  padding: 18px;
}

.p-inputtext:hover {
  border-color: #8C77DE !important;
}

.p-inputtext:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem #8C77DE !important;
  border-color: #8C77DE !important;
}

input .p-inputtext {
  height: 60px;
}

.p-fileupload-choose {
  background: none;
  border: 2px dashed #5C5C5C;
  color: black;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: 2px dashed #8C77DE;
    color: #8C77DE;
  }
}

.p-button-label {
  flex: none;
}

.p-fileupload-choose:not(.p-disabled):hover {
  background: none;
  color: #8C77DE;
  border-color: #8C77DE;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 10rem 0.1rem #8C77DE;
}

.p-calendar > input {
  padding: 18px !important;
  width: inherit;
  min-height: 60px !important;
}

.p-datepicker {
  height: max-content;
}

.p-inputtextarea {
 height: 120px !important;
}

.p-fileupload.p-fileupload-advanced.p-component {
  position: relative;
}

.p-fileupload.p-fileupload-advanced.p-component > input {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 105px;
  opacity: 0;
  z-index: 999;
  cursor: pointer;
}

div[id='myUpload']:hover .p-fileupload-buttonbar > span {
  border: 2px dashed #8C77DE;
  color: #8C77DE;
}

.p-fileupload-buttonbar >.p-button.p-component.p-disabled {
  display: none;
}

.p-progressbar {
  border: 0 none;
  height: 3rem;
  background: #dee2e6;
  border-radius: 3px;
  margin: 30px 0;
}

.p-progressbar .p-progressbar-value {
  background: #8C77DE;
}

.p-badge.p-component.p-badge-warning.p-fileupload-file-badge {
  display: none;
}

//Скрывает прогресс бар
//.p-progressbar.p-component.p-progressbar-determinate {
//  display: none;
//}

.p-fileupload-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.p-button {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  font-family: subGeneralFont;
  font-size: 16px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #8c77de;
  color: #8c77de;
  transition: all 0.5s;
}
.p-button:enabled:hover {
  background: #8C77DE;
  border: 2px solid #8c77de;
}

.p-button.p-component.p-fileupload-choose {
  background: none;
  border: 2px dashed #5C5C5C;
  color: black;
}
// Скрывает картинку и alt у загруженных элементов
.p-fileupload-file-thumbnail {
  display: none;
}

.p-fileupload-file:hover {
  color: white;
  background: rgba(140, 119, 222, 0.7);
  transition: all 0.3s;
}
//Крестик на загруженных элементах
.p-button.p-button-danger.p-button-text:enabled:hover, .p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
  background: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  color: #D32F2F;
}

span.p-button-label {
  width: fit-content;
}
