.container-data {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5% auto;
}

.main-table-row {
  border-bottom: 2px solid #C8C8C8;
}

.main-table-row:last-child {
  border: none;
}


//Форма

.final-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-family: generalFont;
  width: 27%;
}

//Выключенная кнопка
.disabled {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  font-family: subGeneralFont;
  font-size: 18px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #C8C8C8;
  color: #C8C8C8;
  &:hover {
    border: 2px solid #8C77DE;
    color: #fff;
  }
}

input {
  height: 60px;
}

.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-inputtext {
  width: 100% !important;
  padding: 18px !important;
}

.p-checkbox {
  width: 30px !important;
  padding: 0 !important;
  height: 30px !important;
}

.p-inputtext {
  height: 60px !important;
  padding: 18px !important;
}

.p-inputtext:hover {
  border-color: #8C77DE !important;
}

.p-inputtext:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem #8C77DE !important;
  border-color: #8C77DE !important;
}

input .p-inputtext {
  height: 60px;
}

.p-fileupload-choose {
  background: none;
  border: 2px dashed #5C5C5C;
  color: black;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: 2px dashed #8C77DE;
    color: #8C77DE;
  }
}

.p-button-label {
  flex: none;
}

.p-fileupload-choose:not(.p-disabled):hover {
  background: none;
  color: #8C77DE;
  border-color: #8C77DE;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 10rem 0.1rem #8C77DE;
}

.p-calendar > input {
  padding: 18px !important;
  width: 100% !important;
  min-height: 60px !important;
}

.p-datepicker {
  height: max-content;
}

.p-inputtextarea {
 height: 120px !important;
}