.steps-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.steps-item+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: generalFont;
  font-size: 24px;
  line-height: 125.5%;
  color: black;
  gap: 20px;

}

.steps-item+label::before {
  content:'';
  display: inline-block;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 5px solid #8C77DE;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.steps-item:checked+label::before {
  background-color: transparent;
  background-image: url("~@/assets/img/steps-checkbox-icon.svg");
}

.steps-item:not(:disabled):not(:checked)+label:hover::before {
  //border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.steps-item:not(:disabled):active+label::before {
  //background-color: #b3d7ff;
  //border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.steps-item:focus+label::before {
  //box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.steps-item:focus:not(:checked)+label::before {
  //border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.steps-item:disabled+label::before {
  //background-color: #e9ecef;
}

.modal-select-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 30px;
  gap: 30px;
  flex-wrap: wrap;
  z-index: 100 !important;
  margin-bottom: 60px;
  > * {
    flex-basis: 0;
    max-width: 100%;
  }
}

.modal-select-container-column {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
  flex-wrap: wrap;
  width: max-content;
}


.modal-select-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: min-content;
}

.type-construction-img {
  width: 200px;
  height: 200px;
}

.content-modal-wrapper {
  flex: 1;
  overflow-y: scroll;
}


// Редактируем селект

.modal-select {
  padding: 15px 15px;
  font-family: generalFont;
  font-size: 16px;
  background: #EFF3F5;
  border-radius: 8px;
  border: none;
  text-align: center;
  cursor: pointer;
  &:active {
    //background: #8c77de;
    //color: white;
  }
  &:target {
    background: #8c77de;
    color: white;
    border: none;
  }
  &:focus-visible {
    border: none;
  }
}

.option-modal:checked {
  background: #8c77de;
  color: white;
}

.option-modal:hover {
  background: #8c77de;
  color: white;
}

.option-disabled {
  align-content: center;
}

.modal-select-item:last-child {
  //margin-bottom: 30px;
}


// Цвет зубов

.modal-select-column {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: generalFont;
  gap: 10px;
  flex-grow: 1;
  align-items: flex-start;
  &:first-child > .modal-select-column-item {
    font-family: subGeneralFont;
    background: none;
    padding: 25px 25px 25px 0;
    margin-left: 5px;
    &:hover {
      color: black;
    }
  }
  &:last-child > .modal-select-column-item {
    flex-grow: 0;
  }
}

.modal-select-column-item {
  display: flex;
  justify-content: center;
  background: #EFF3F5;
  border-radius: 50%;
  padding: 25px 25px;
  width: 70px;
  height: 70px;
  max-height: 70px;
  flex-grow: 1;
  &:hover {
    color: white;
    background: #8c77de;
    cursor: pointer;
  }
}

.group-column-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-family: 'generalFont';
}
#bg-none {
  width: 10px;
  height: 26px;
}

#Bleach4 {
}

#A35{
  border-radius: 54px;
}

.modal-select-column-calc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;
  height: 390px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-select-column-item-calc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-family: 'generalFont';
  align-items: center;
  background: #EFF3F5;
  border-radius: 50%;
  padding: 25px 25px;
  width: 70px;
  height: 70px;
  max-height: 70px;
  flex-grow: 1;
  &:hover {
    color: white;
    background: #8c77de;
    cursor: pointer;
  }
}

.active {
  color: white;
  background: #8c77de;
  cursor: pointer;
}

//Инпут цвета и лейбл

.modal-select-input {
  font-family: subGeneralFont;
  font-size: 18px;
  color: #5C5C5C;
  margin: 20px 0 10px 0;
}

input {
  padding: 18px;
  font-size: 18px;
  font-family: generalFont;
  border-radius: 4px;
}


//Опак и карвинг

.modal-select-carving-btn {
  background: #EFF3F5;
  font-family: generalFont;
  color: #5C5C5C;
  padding: 15px 10px;
  font-size: 18px;
  border-radius: 8px;
  &:hover {
    color: white;
    background: #8c77de;
    cursor: pointer;
  }
}

// Проблемы селекта
.modal-select-header {
  font-family: generalFont;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  min-width: 200px;
  &:after {
    content: '';
  }
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  // ...existing styles
  outline: none;
}

input {
  height: 60px;
  width: 420px;
}

.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-checkbox {
  width: 30px !important;
  padding: 0 !important;
}

.p-calendar {
  padding: 0 !important;
  width: 100% !important;
}

.p-inputtext {
  height: 60px;
  padding: 18px;
  width: 420px;
}

.p-inputtext:enabled:hover {
  border-color: #8C77DE !important;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem #8C77DE !important;
  border-color: #8C77DE !important;
}


// кастомный селект

select {
  option {
    color: black; // Цвет не выбранных опций
    cursor: pointer;
  }

  &:focus option:checked {
    background-color: #8C77DE; // Цвет выбранной опции
    color: white; // Цвет текста выбранной опции
  }

  &::selection {
    background-color: #8C77DE; // Цвет выделения выбранной опции
    color: white; // Цвет текста выделения выбранной опции
  }

  &:focus {
    text-align: left;
    cursor: pointer;
  }
}

@media only screen and (max-width: 550px) {
  .modal-select-container {
    width: 100vw;
    justify-content: center;
  }
  .content-modal-wrapper {
    margin-left: 10px;
  }
}
