* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
  font-family: generalFont;
}
//Сброс стилей для списков
ul, li {
  list-style-type: none;
}

//Сброс стилей для ссылок

a {
  text-decoration: none;
  color: unset;
}

//Сброс стилей для кнопки
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

//(обозвать логически или внедрить в отдельный компонент)
.container {
  width: 1120px;
  margin: 5% 12%;
}

.container__h1 {
  font-family: subGeneralFont;
  font-size: 32px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 60px;
}

.container__h2 {
  font-family: subGeneralFont;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 30px;
}

.container__info {
  display: flex;
  justify-content: space-between;
}

.info__wrapper {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.container__finish-editing {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  font-family: subGeneralFont;
  font-size: 18px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #8c77de;
  color: #8c77de;
}

//Схема зубов кончилась

//Новый экран

//кнопка назад
.container__back-button {
  margin-top: 60px;
  border: none;
  background-color: transparent;
}

//цепочка (придумать адекватную сущность)
.container__wrapper {
  display: flex;
  margin-top: 80px;
}

.wrapper__chain {
  display: flex;
  flex-direction: column;
  width: 46px;
  align-items: center;
  background-image: src('./assets/img/line-chain.svg');
}

.chain__img {
  z-index: 10;
}

.chain__valid-img {
  margin-bottom: 20px;
  z-index: 11;
}

.chain__novalid-img {
  margin-bottom: 20px;
  z-index: 11;
}

.chain__title {
  margin-left: 20px;
}

.title__h2 {
  margin-bottom: 36px;
  font-family: generalFont;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.title__h2:last-child {
  margin-bottom: 0px;
}

//Глобальные классы для компонентов

//Обнуление подчеркивания у ссылок роутов
.text-decoration-none {
  text-decoration: none;
}

//Скрытие стандартных чекбоксов
.checkbox-none {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

//Выравнивание по левой стороне
.flex-start {
  align-items: flex-start;
}