* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
  font-family: generalFont;
}
//Сброс стилей для списков
ul, li {
  list-style-type: none;
}

//Сброс стилей для ссылок

a {
  text-decoration: none;
  color: unset;
}

//Сброс стилей для кнопки
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

//(обозвать логически или внедрить в отдельный компонент)
.container1 {
  width: max-content;
  margin: 10vh 10vw;
}

//Медиазапрос для разрешения меньше 1280

@media only screen and (max-width: 1280px) {
  .container1 {
    width: max-content;
    margin: 10vh 5vw;
  }
}

.container__h1 {
  font-family: subGeneralFont;
  font-size: 32px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 60px;
}

.container__h2 {
  font-family: subGeneralFont;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 30px;
}

.container__info {
  display: flex;
  justify-content: space-between;
}

.info__wrapper {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.container__finish-editing {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  font-family: subGeneralFont;
  font-size: 18px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #8c77de;
  color: #8c77de;
}

//Схема зубов кончилась

//Новый экран

//кнопка назад
.container__back-button {
  margin-top: 60px;
  border: none;
  background-color: transparent;
}

//цепочка (придумать адекватную сущность)
.container__wrapper {
  display: flex;
  margin-top: 80px;
}

.wrapper__chain {
  display: flex;
  flex-direction: column;
  width: 46px;
  align-items: center;
  background-image: src('./assets/img/line-chain.svg');
}

.chain__img {
  z-index: 10;
}

.chain__valid-img {
  margin-bottom: 20px;
  z-index: 11;
}

.chain__novalid-img {
  margin-bottom: 20px;
  z-index: 11;
}

.chain__title {
  margin-left: 20px;
}

.title__h2 {
  margin-bottom: 36px;
  font-family: generalFont;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.title__h2:last-child {
  margin-bottom: 0px;
}

//Глобальные классы для компонентов

//Обнуление подчеркивания у ссылок роутов
.text-decoration-none {
  text-decoration: none;
}

//Скрытие стандартных чекбоксов
.checkbox-none {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

//Выравнивание по левой стороне
.flex-start {
  align-items: flex-start;
}

//Выключенная кнопка
.disabled {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  font-family: subGeneralFont;
  font-size: 18px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #C8C8C8;
  color: #C8C8C8;
  &:hover {
    border: 2px solid #8C77DE;
    color: #8C77DE;
  }
}

.align-self-left {
  align-self: flex-start;
}

//Подзаголовок в модалках
.subheader__h2 {
  font-family: generalFontLight;
  font-size: 18px;
  color: #5C5C5C;
}
//заголовок в модалках
.modal__h2 {
  font-family: subGeneralFont;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  margin-top: 60px;
}
//Контейнер контента в модалках
.content-modal-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

//Делает флекс в колонку

.column {
  display: flex;
  flex-direction: column;
}

//Делает флекс в строку

.row {
  display: flex;
  flex-direction: row;
}

.gap10 {
  gap: 10px;
}
.gap60 {
  gap: 60px;
}

.bg-none {
  background: none;
}

.back-btn {
  background: #C8C8C8;
}

// Костыли с ID в верстке

#bg-none {
  background: none;
}

.active {
  color: white;
  background: #8c77de;
  cursor: pointer;
}

