* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
  font-family: generalFont;
}

//Сброс стилей для кнопки
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

//(обозвать логически или внедрить в отдельный компонент)
.container {
  width: 1120px;
  margin: 100px 250px;
}

.container__h1 {
  font-family: subGeneralFont;
  font-size: 32px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 60px;
}

.container__info {
  display: flex;
  justify-content: space-between;
}

.info__wrapper {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrapper__flag {
  font-family: subGeneralFont;
  font-size: 18px;
  line-height: 150%;
  color: #5c5c5c;
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: 71px;
}

.flag__img {
  margin-left: 10px;
}

.container__finish-editing {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  font-family: subGeneralFont;
  font-size: 18px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #8c77de;
  color: #8c77de;
}

//Схема зубов кончилась

//Событие по правому клику

.container__right-click-ivent {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(92, 92, 92, 0.15);
  width: 155px;
  height: 229px;
  background-image: src('./assets/img/background-right-click.svg');
  padding: 19px 9px;
}

/*.right-click-ivent__img {
  z-index: 10;
}*/

.right-click-ivent__item {
  z-index: 11;
  margin-bottom: 14px;
  font-family: subGeneralFont;
  font-size: 14px;
  line-height: 125.5%;
  color: #000000;
}

.red {
  color: #ff5656;
}

.green {
  color: #78e1db;
}

//Новый экран

//кнопка назад
.container__back-button {
  margin-top: 60px;
  border: none;
  background-color: transparent;
}

//цепочка (придумать адекватную сущность)
.container__wrapper {
  display: flex;
  margin-top: 80px;
}

.wrapper__chain {
  display: flex;
  flex-direction: column;
  width: 46px;
  align-items: center;
  background-image: src('./assets/img/line-chain.svg');
}

.chain__img {
  z-index: 10;
}

.chain__valid-img {
  margin-bottom: 20px;
  z-index: 11;
}

.chain__novalid-img {
  margin-bottom: 20px;
  z-index: 11;
}

.chain__title {
  margin-left: 20px;
}

.title__h2 {
  margin-bottom: 36px;
  font-family: generalFont;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.title__h2:last-child {
  margin-bottom: 0px;
}
